.log-out {
    height: 250px;
    .change-title {
      display: flex;
      justify-content: center;
      padding: 20px;
      .title {
        color: #FFF;
        font-size: 1.2rem;
        font-weight: initial;
      }
      .title::after {
        background-color: #efefef; 
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 20%;
      }
    }
    .home_loader{
      background: transparent;
      position: absolute;
      left: 40%;
      top: 50%;
      margin: auto;
      z-index: 1;
    }
  }