#management {
  /*.management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    .card-title {
      margin: 0;
      padding: 0px 20px;
    }
    .tools-group {
      padding: 0px 40px;
      display: flex;
      .export-btn, .btn-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.65rem;
        border: 1px solid #3c6ef1;
        border-radius: 5px;
        height: 25px;
      }
      .export-btn {
        padding: 0px 20px;
        margin: 0px 10px;
      }
      .btn-filter {
        background: unset;
        margin: 0px !important;
        padding: 0px 10px !important;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:before {
        content: "";
        margin: 0px 10px 0px 5px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:after {
        display: none;
      }
    }
  }*/

  .funtionSpace{
    align-content: center;
    justify-content: center;
    label{
      margin:10px;
    }
  }

  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
    }
  }
  .management-body {
    font-size: 0.8rem;
    color: #FFF;
    .tracking, .settings {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: solid 1px #2b3553;
    }
    .unlock {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 90px;
      border-radius: 4px;
      border: solid 1px #171717;
      .locked, .unlocked {
        width: 45px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .locked {
        border-radius: 4px 0px 0px 4px;
        background-color: #42474b;
      }
      .unlocked {
        border-radius: 0px 4px 4px 0px;
        background-color: #343434;
      }
    }
    .position {
      cursor: pointer;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: solid 1px #2b3553;
      background: #1d253b;
    }
    .in_use, .available, .unavailable, .transport, .broken, .maintenance, .stolen, .logistic {
      width: 80px;
      border-radius: 4px;
      height: 26px;
      text-align: center;
      padding: 5px;
      font-size: 10px;
      cursor: pointer;
    }
    .available {
      border: 1px solid #218838;
      color: #218838 !important;
    }
    .unavailable {
      border: 1px solid #707070;
      color: #707070 !important;
    }
    .transport {
      border: 1px solid #fc860a;
      color: #fc860a !important;
    }
    .broken {
      border: 1px solid #f5317f;
      color: #f5317f !important;
    }
    .maintenance {
      border: 1px solid #1270e3;
      color: #1270e3 !important;
    }
    .stolen {
      border: 1px solid #f0f3bd;
      color: #f0f3bd !important;
    }
    .in_use {
      border: 1px solid #6207ef;
      color: #6207ef !important;
    }
    .logistic {
      border: 1px solid #ffc244;
      color: #ffc244 !important;
    }
  }
}
.dark-modal-status {
  width: 400px;
  background: #1d2335;
  border-radius: 5px;
}
.dark-modal-default {
  width: 712px;
  height: 425px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
  background-color: #27293d;
}
.modal-dialog {
  position: absolute;
  margin: auto;
  top: 20%;
  bottom: 0;
  right: 0;
  left: -10%;
}
.modal-content {
  width: 880px !important;
  height: 585px;
  border-radius: 6px !important;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1) !important;
  background-color: #27293d !important;
  .modal-header .title {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color: #FFF !important;
  }
}
.gmnoprint .gm-style-mtc{
  display: none;
}
#regularMap {
  a {
    display: none !important;
  }
}

.two-step {
  display: flex;
  align-items: center;
  input {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  label {
    margin: 0px;
    color: #42474b;
    font-size: 12px;
  }
}