#edit-order {
  .one-content {
    padding: 10px 20px;
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    .sub-title {
      font-size: 20px;
      color: #ffffff;
    }
    .sub-content {
      padding: 10px 30px;
      .one-content {
        align-items: center;
        font-size: 12px;
        .sub-header {
          color: #ffffff;
        }
        .sub-data {
          color: #9a9a9a;
          img {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .dash-line {
    width: 100%;
    height: 1px;
    background-color: #9a9a9a;
  }
}