.empty-table{
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: center;
    color: #9a9a9a;
    padding: 100px;
}

.into-Scroll{
    display: 'flex';  
    height:80vh;
}

.card-body {
    .table > thead > tr > th {
        cursor: pointer;
        text-transform: none;
    }
}

#order-map {
    .info-window {
        background-color: #2b3553;
        border-radius: 8px;
        width: 190px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .info-address, .info-type {
            display: flex;
            justify-content: center;
            padding: 5px;
            font-family: Poppins;
        }
        .info-address {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
        }
        .info-type {
            color: #9a9a9a;
            font-size: 13px;
            font-weight: 500;
        }
    }
    .gm-style-iw {
        box-sizing: unset;
        background-color: unset;
        border-radius: unset;
        padding: 0px;
        box-shadow: unset;
        .gm-style-iw-d {
            overflow: auto !important;
        }
        button {
            display: none !important;
        }
    }
    .gm-style .gm-style-iw-t::after {
        display: none;
    }
}

.status_pending_d{    
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;

    border: solid 1px #f5317f;
    color: #f5317f;
}
.status_on_delivery{
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    border: solid 1px #fc860a;
    color: #fc860a;
}
.status_delivered{
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    border: solid 1px #218838;
    color: #218838;
}
.status_pending_r{   
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;    
    border: solid 1px #1270e3;
    color: #1270e3;
}
.status_on_return{
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    border: solid 1px #fc860a;
    color: #fc860a;
}
.status_returned{
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;    
    border: solid 1px #6207ef;
    color: #6207ef;
}

.cancel{
    border-radius: 4px;    
    background-color: #1f2138;
    padding: 5px 5px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;    
    border: solid 1px red;
    color: red;
}


