#add-owner {
  label {
    color: #FFF;
  }
  .service-title {
    font-size: 14px;
    color: #FFF;
  }
  .service-sub-title {
    font-size: 12px;
    color: #9a9a9a;
  }
  .padding-div {
    padding: 30px 0px;
  }
  .service-list {
    border-radius: 6px;
    border: 1px solid #2b3553;
    padding: 10px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      label {
        margin: 0px;
      }
      div {
        border-radius: 6px;
        border: solid 1px #2b3553;
        img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .dark-back {
    background: #525f7f;
  }
  .phone_class {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    span {

    }
  }
  .phone-error {
    border-color: red;
  }
  .pre-country {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    img {
      height: 6px;
      width: 20px;
    }
  }
  .indicative_list {
    position: absolute;
    background-color: #1f2138;
    border-radius: 6px;
    padding: 0px 10px;
    overflow: auto;
    height: 150px;
    z-index: 200;
    margin-right: 15px;
    .indicative {
      cursor: pointer;
    }
  }
  .indicative_list::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  .indicative_list::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    -webkit-box-shadow: inset 0 0 6px #FFF;
    border-radius: 10px;
  }

  .indicative_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .non-border {
    border: unset;
  }
  .two-step {
    display: flex;
    align-items: center;
    input {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    label {
      margin: 0px;
      color: #42474b;
      font-size: 12px;
    }
  }
}