#admin-owner {
  .management-edit {
    display: flex;
    padding: 20px 40px;
    .action-btn {
      display: flex;
      .edit {
        width: 90px;
      }
      .delete {
        width: 114px;
      }
      .edit, .delete {
        height: 42px;
        border-radius: 6px;
        border: 1px solid #2b3553;
        margin: 0px 5px;
        color: #9a9a9a;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: unset;
    .admin-title {
      display: flex;
      .add-child {
        display: flex;
        padding: 0px 10px;
        color: #FFF;
        border: 1px solid #1d8cf8;
        border-radius: 6px;
        height: 26px;
        background-color: #1f2138;
        font-size: 10px;
        align-items: center;
        cursor: pointer;
        img {
          margin-right: 5px;
        }
      }
    }
    .card-title {
      margin: 0;
      padding: 0px 20px;
    }
    .tools-group {
      padding: 0px 40px;
      display: flex;
      .btn-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.65rem;
        border: 1px solid #3c6ef1;
        border-radius: 5px;
        height: 25px;
        background: unset;
        margin: 0px !important;
        padding: 0px 10px !important;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:before {
        content: "";
        margin: 0px 10px 0px 5px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:after {
        display: none;
      }
    }
  }
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
      cursor: pointer;
    }
  }
  .management-body {
    font-size: 0.8rem;
    color: #FFF;
    .action {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div {
        margin: 0px 5px;
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
      }
   }
    .available, .inactive {
      width: 80px;
      border-radius: 4px;
      height: 26px;
      text-align: center;
      padding: 5px;
      font-size: 10px;
      cursor: pointer;
    }
    .available {
      border: 1px solid #1d8cf8;
      color: #1d8cf8 !important;
    }
    .inactive {
      border: 1px solid #be2a83;
      color: #be2a83 !important;
    }
  }
}
.dark-modal-status {
  width: 400px;
  background: #1d2335;
  border-radius: 5px;
}
.delete-modal {
  width: 600px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
  background-color: #27293d;
}
.modal-dialog {
  position: absolute;
  margin: auto;
  top: 20%;
  bottom: 0;
  right: 0;
  left: -10%;
}
.modal-content {
  width: 880px !important;
  height: 585px;
  border-radius: 6px !important;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1) !important;
  background-color: #27293d !important;
  .modal-header .title {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color: #FFF !important;
  }
}