.edit-owner-body {
  padding: 10px 50px !important;
  img {
    margin-right: 5px;
  }
}
.page-header {
  display: flex;
  padding: 5px 0px;
}
.arrow-back {
  cursor: pointer;
}
.edit-owner-payment {
  .status {
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    width: max-content;
    padding: 3px 7px;
    color: #FFF;
    font-size: 12px;
    height: 24px;
    display: flex;
    align-items: center;
    span {
      padding-right: 5px;
    }
    img {
      padding: 0px 5px;
    }
  }
}