#update_owner {
  .update_owner {
    .change-title {
      padding: 20px;
      .title {
        color: #FFF;
        font-size: 1.2rem;
        font-weight: initial;
      }
    }
    .line-px {
      height: 1px;
      width: 100%;
      background-color: #707070;
    }
    .user-detail {
      padding: 20px;
      .row {
        padding: 3px 0px;
        .id-label {
          color: #FFF;
        }
      }
      .dark-back {
        background: #525f7f;
      }
      .phone_class {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #2b3553;
        border-radius: 0.4285rem;
      }
      .pre-country {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        cursor: pointer;
        img {
          height: 6px;
          width: 20px;
        }
      }
      .indicative_list {
        position: absolute;
        background-color: #1f2138;
        border-radius: 6px;
        padding: 0px 10px;
        overflow: auto;
        height: 150px;
        z-index: 200;
        margin-right: 15px;
        .indicative {
          cursor: pointer;
        }
      }
      .indicative_list::-webkit-scrollbar {
        width: 13px;
        height: 13px;
      }
      .indicative_list::-webkit-scrollbar-track {
        background-color: #e2e2e2;
        -webkit-box-shadow: inset 0 0 6px #FFF;
        border-radius: 10px;
      }
    
      .indicative_list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
      .non-border {
        border: unset;
      }
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
    }
    .primary-btn {
      background: #007bff;
    }
  }
}