.admin-container{
    scroll-behavior: smooth;
}

.upper-case {
    text-transform: uppercase;
}

.management-header {
    display: flex;
    background-color: unset;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    .card-title {
        margin: 0;
        padding: 0px 20px;
    }
    .icon_add{            
        padding: 5px;
        padding-top: 2px;
    }
    img{
        padding-right: 10px;
    }
    .filterSpace{
        display: flex;
        justify-content: flex-end;
        .tools-group {      
            padding: 0px 40px;
            display: flex;
            .btn-filter {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            cursor: pointer;
                font-size: 0.65rem;
                border: 1px solid #3c6ef1;
                border-radius: 5px;
                height: 25px;
                background: unset;
                margin: 0px !important;
                padding: 0px 10px !important;
            }
            .btn.dropdown-toggle[data-toggle="dropdown"]:before {
                content: "";
                margin: 0px 10px 0px 5px;
                display: inline-block;
                width: 0;
                height: 0;
                vertical-align: 0.255em;
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }
            .btn.dropdown-toggle[data-toggle="dropdown"]:after {
                display: none;
            }
        }
    }
    .funtionSpace{
        display: flex;
        justify-content: center;
    }
}

.cosmic-butons{
    .cosmic-cancel{
      border-radius: 6px;
      background-image: linear-gradient(256deg, #344675, #263148);
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    .cosmic-confirm{
      margin-left: 20px;
      border-radius: 6px;
      background-image: linear-gradient(256deg, #1d8cf8, #3358f4 50%);
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }

.btn-cosmic{
    border-radius: 6px;
    border: 1px solid;
    border-color: #1d8cf8;
    box-shadow: none;
    padding: 5px 5px;
    background-color: #1f2138;

    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.06px;
    text-align: left;
    color: #ffffff;
    
    // font-family: Poppins;
    // font-size: 12px;
    // font-weight: normal;
    // font-style: normal;
    // font-stretch: normal;
    // line-height: 1.6;
    // letter-spacing: 0.1px;
    // text-align: left;
    // color: #ffffff;
    cursor: pointer;
    span{
      padding-left: 5px;
    }
}
  
.btn-cosmic-blue{
    border-radius: 6px;
    border: 1px solid;
    border-color: #1d8cf8;
    box-shadow: none;
    padding: 5px 5px;
    background-color: #1f2138;
        
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #1270e3;
    cursor: pointer;  
    span{
      padding-left: 5px;
    }
}

.phone-cosmic{  
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    text-align: center !important;
    .phone-cosmic-1{
      border: 0 none !important;
      padding: 5px 5px !important;
      padding-left: 5px  !important;
      width: 40%;    
    }
    .phone-cosmic-2[disabled]{
      color:  rgba(255, 255, 255, 0.8);
      border: 0 none !important;
      padding: 5px 5px !important;
      width: 20%    
    }
    .phone-cosmic-3{
      border: 0 none !important;
      padding: 10px 2px 10px 2px;
      width: 40%
    }  
}

.multi-cosmic{
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;   
    .MC__control{
        // border: 1px solid #2b3553;
        // border-radius: 0.4285rem;   
        background-color:transparent;
        border-color: #2b3553; 
        font-size: 0.75rem; 
        background-color: transparent; 
        color: rgba(255, 255, 255, 0.8);    
        background-clip: padding-box; 
        font-family: "Poppins", sans-serif;
    }

    .MC__multi-value{
        background-color: #2b3553;
        //color: rgba(255, 255, 255, 0.8);
    }
    .MC__multi-value__label{
        color: rgba(255, 255, 255, 0.8);
    }
    .MC__menu{
        background-color: #27293d;
        font-size: 0.75rem; 
        //background-color: transparent; 
        color: rgba(255, 255, 255, 0.8);    
        background-clip: padding-box; 
        font-family: "Poppins", sans-serif;

    }    
    .MC__option--is-focused{
        background-color: #2b3553;
    }
    // text-align: center !important; 9a9a9a   32325d
}

.into-Scroll{
    display: 'flex';  
    height:80vh;
}

.tools-group {
    padding: 0px 40px;
    display: flex;
    .btn-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.65rem;
        border: 1px solid #3c6ef1;
        border-radius: 5px;
        height: 25px;
        background: unset;
        margin: 0px !important;
        padding: 0px 10px !important;
    }
    .btn.dropdown-toggle[data-toggle="dropdown"]:before {
        content: "";
        margin: 0px 10px 0px 5px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
    .btn.dropdown-toggle[data-toggle="dropdown"]:after {
        display: none;
    }
}

.filter-header {
    padding: 0px 10px !important;
    margin: 5px !important;
    .filter-header-group {
        border-bottom: 1px solid #9a9a9a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
    }
    .filter-text {
        font-size: 0.9rem;
        font-weight: bold;
        color: #000;
    }
    .filter-btn-group {
        display: flex;
        align-items: center;
        .filter-clear, .filter-done {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.5rem;
            border-radius: 5px;
            box-shadow: 0px 1px 3px rgba(0,0,0,.5);
            padding: 3px 7px;
            margin: 0px 5px;
        }
        .filter-clear {
            color: #9a9a9a;
        }
        .filter-done {
            color: #FFF;
            background: #3c6ef1;
            border: 1px solid #3c6ef1;
        }
    }
}
.filter-check {
    padding: 5px 15px;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    select {
        height: 24px;
        color: #2b3553;
        padding: 0px 4px;
    }
    input {
        width: 10px;
    }
    label {
        font-size: 0.75rem;
        padding: 0px 5px;
        color: #9a9a9a !important;
        margin: 0 !important;
    }
    .date_time {
        width: 76px;
        height: 24px;
        margin: 0px 5px;
        input {
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        color: #000;
        border: 1px solid #e9e9e9;
        border-radius: unset;
        padding: 0px;
        text-align: center;
        }
    }
}
.dropdown-menu {
    width: 200px;
    border-radius: 5px;
}