.alert-body {
  .close-button {
    display: flex;
    justify-content: flex-end;
    div {
      background-color: #e4e4e4;
      width: 24px;
      height: 24px;
      display: flex;
      border-radius: 40%;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .status-icon {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .bottom-border {
    display: flex;
    justify-content: center;
    padding: 20px;
    div {
      width: 250px;
      height: 1px;
      border-radius: 1px;
      background-color: #707070;
    }
  }
  .alert-description {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.16px;
    text-align: center;
    color: #ffffff;
  }
}