#add-inventory {
  .disable_btn {
    color: #42474b !important;
  }
  .import_title{
    color: #FFF;
  }
  .text_color {
    color: #FFF !important;
  }
  .add_new_item {
    width: 192px;
    height: 40px;
    border-radius: 6px;
    background-image: linear-gradient(260deg, #1d8cf8, #3358f4);
    color: #FFF;
    text-transform: uppercase;
  }
  .add_new_item:hover {
    background-image: linear-gradient(260deg, #1d8cf8, #3358f4) !important;
  }
  .fileupload {
    width: 140px;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 6px;
    background-image: linear-gradient(260deg, #1d8cf8, #3358f4); /* and other things to make it pretty */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
  }

  .fileupload input {
      position: absolute;
      top: 0;
      right: 0; /* not left, because only the right part of the input seems to
                  be clickable in some browser I can't remember */
      cursor: pointer;
      opacity: 0.0;
      filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                  want to support */
      font-size: 300px; /* wtf, but apparently the most reliable way to make
                          a large part of the input clickable in most browsers */
      height: 200px;
  }
  .import_section {
    padding: 20px 50px;
    option {
      background-color: #2b3553;
    }
    .import_check {
      display: flex;
      align-items: center;
      color: #9a9a9a;
      input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      label {
        margin: 0;
        font-size: 1rem;
      }
    }
    .upload_download {
      display: flex;
      align-items: center;
      margin: 20px 0px;
      .upload_btn {
        background-image: linear-gradient(260deg, #1d8cf8, #3358f4) !important;
        border-radius: 6px;
        text-transform: uppercase;
        margin-right: 10px;
      }
      .upload_btn:hover {
        background-image: linear-gradient(260deg, #1d8cf8, #3358f4) !important;
      }
      .download_btn {
        width: 261px;
        height: 40px;
        border-radius: 6px;
        border: solid 1px #2b3553;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0px 10px;
        color: #9a9a9a;
        img {
          margin-right: 10px;
        }
      }
    }
    .import_desc {
      width: 431px;
      height: 38px;
      border-radius: 6px;
      border: solid 1px #2b3553;
      font-size: 12px;
      color: #9a9a9a;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      margin: 20px 0px;
    }
    .alert_upload {
      img {
        margin-right: 10px;
      }
      color: #9a9a9a;
    }
  }
  
  .deviceVersion{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    text-align: center !important;
    .fieldVersion{
      border: 0 none !important;
      // padding: 8px 15px !important;
      // padding-left: 5px  !important;
    }
  }
}

.alert-modal {
  width: 400px;
  background: #1d2335;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
}