.indent-popup {
  display: none;
  position: absolute;
  color: white;
  padding: 0px;
  border: solid 1px #707070;
  background: #1f2138;
  text-align: center;
  width: 300px;
  height: 190px;
  z-index: 20;
  border-radius: 8px;
  .popup-photo {
    width: 160px;
    img {
      width: 160px;
      height: 188px;
    }
  }
  .popup-info {
    width: 140px;
    .close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #e4e4e4;
      position: absolute;
      top: 10px;
      right: 0px;
      .close {
        color: #1f2138;
        width: 12px;
        height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px 10px;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      .ride {
        text-align: left;
        padding: 5px 0px;
        // div {
        //   line-height: 1;
        //   color: #e4e4e4;
        //   font-family: Poppins;
        //   font-size: 8px;
        //   font-weight: 300;
        //   font-style: normal;
        //   font-stretch: normal;
        //   letter-spacing: 0.05px;
        // }
        .title {          
          font-size: 12px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: 0.05px;
          text-align: left;
          // font-size: 10px;
          // letter-spacing: 0.06px;
          // font-weight: normal;
          // padding: 3px 0px;          
        }
        .infoRide{
          font-size: 10px;
          font-weight: normal;
          letter-spacing: 0.06px;
          color: #e4e4e4;
        }
      }
    }
  }
}
#location {
  #map {
    border-radius: 6px;
    height: 80vh;
    margin-top: 20px;
    a {
      display: none !important;
    }
  }
  .view-group {
    display: flex;
    justify-content: flex-end;
  }
  .general-view, .detail-view {
    height: 32px;
    width: 124px;
    background-color: #1f2138;
    font-size: 16px;
    color: #fdfdfd;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #1270e3;
  }
  .active-view {
    background-color: #1270e3;
  }
  .general-view {
    border-radius: 6px 0px 0px 6px;
  }
  .detail-view {
    border-radius: 0px 6px 6px 0px;
  }
  .main-view {
    padding: 20px 10px;
    .left-side {
      padding: 20px 0px 0px;
    }
    .left-header {
      display: flex;
      justify-content: center;
      padding: 0px 0px 20px;
      .status {
        text-transform: uppercase;
        width: 124px;
        height: 38px;
        font-size: 13px;
        background-color: #1d1f34;
        color: #2b78fe;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2b78fe;
      }
      .active-status {
        background-image: linear-gradient(to bottom, #6207ef, #310478);
        color: #fdfdfd;
      }
      div:first-child {
        border-radius: 6px 0px 0px 6px;
      }
      div:last-child {
        border-radius: 0px 6px 6px 0px;
      }
    }
    .left-body {
      height: 628px;
      border-radius: 6px;
      border: solid 1px #2b3553;
      padding: 12px 12px 0px 12px;
      overflow: auto;
      .scooter-detail {
        height: 76px;
        border-radius: 6px;
        border: solid 1px #2b3553;
        margin-bottom: 12px;
        padding: 10px 20px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.09px;
        text-align: left;
        color: #9a9a9a;
        .first-line, .second-line {
          display: flex;
          justify-content: space-between;
          padding: 3px 0px;
        }
        .first-line {
          .scooter-status {
            display: flex;
            text-transform: uppercase;
            align-items: center;
            .ellipse {
              border-radius: 50%;
              width: 10px;
              height: 10px;
              margin-right: 10px;
            }
            .use-ellipse {
              background-color: #6207ef;
            }
            .transport-ellipse {
              background-color: #fc860a;
            }
            .unavailable-ellipse {
              background-color: #42474b;
            }
            .available-ellipse {
              background-color: #46eeaa;
            }
            .stolen-ellipse {
              background-color: #f0f3bd;
            }
            .broken-ellipse {
              background-color: #f5317f;
            }
            .maintenance-ellipse {
              background-color: #1270e3;
            }
            .logistic-ellipse {
              background-color: #ffc244;
            }
          }
        }
        .second-line {
          .battery {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
        }
        .location {
          .location-cursor, i {
            cursor: pointer;
            span {
              padding: 0px 10px 0px 10px;
            }
          }
          .refresh {
            padding: 0px 10px 0px 0px;
          }
        }
      }
    }
    .left-body::-webkit-scrollbar {
      width: 8px;
      height: 214px;
    }
    .left-body::-webkit-scrollbar-track {
      display: none;      
    }
    .left-body::-webkit-scrollbar-thumb {
      background-color: #737378;
      border-radius: 5px;
    }
    .filter-count {
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.09px;
      text-align: right;
      color: #9a9a9a;
    }
    .left-footer {
      padding: 10px 0px;
    }
  }

  .info-window-scooter {
    background-color: #27293d;
    border-radius: 8px;
    width: 245px;
    height: 165px;
    font-family: Poppins;
    padding: 5px;
    .info-scooter {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      color: #FFF;
    }
    .info-scooter-detail {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.67;
      color: #9a9a9a;
      div {
        padding: 3px 7px;
      }
      .info-desc {
        width: 100%;
        color: #9a9a9a;
        display: flex;
        justify-content: flex-start;
      }
      .info-value {
        width: 100%;
        color: #FFF;
        display: flex;
        justify-content: flex-start;
        font-weight: 600;
        padding-bottom: 10px;
      }
      .historic-rides-view {
        border-radius: 4px;
        border: solid 1px #2b3553;
        background-color: #1f2138;
        color: #ffffff;
        font-size: 10px;
        line-height: 1.6;
        text-transform: none;
        cursor: pointer;
      }
      .status-value {
        border-radius: 4px;
        background-color: #1f2138;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: none;
        cursor: pointer;
      }
      .scooter-in-use {
        border: 1px solid #6207ef;
        color: #6207ef;
      }
      .scooter-available {
        border: 1px solid #218838;
        color: #218838 !important;
      }
      .scooter-unavailable {
        border: 1px solid #707070;
        color: #707070 !important;
      }
      .scooter-transport {
        border: 1px solid #fc860a;
        color: #fc860a !important;
      }
      .scooter-broken {
        border: 1px solid #f5317f;
        color: #f5317f !important;
      }
      .scooter-maintenance {
        border: 1px solid #1270e3;
        color: #1270e3 !important;
      }
      .scooter-stolen {
        border: 1px solid #f0f3bd;
        color: #f0f3bd !important;
      }
      .scooter-logistic {
        border: 1px solid #ffc244;
        color: #ffc244 !important;
      }
      .lock-unlock {
        display: flex;
        div {
          background-color: #1f2138;
          padding: 3px 5px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .scooter-lock {
          border-radius: 4px 0px 0px 4px;
          border: 1px solid #2b3553;
        }
        .scooter-unlock {
          border-radius: 0px 4px 4px 0px;
          border: 1px solid #2b3553;
        }
      }
    }
  }

  .info-window {
    background-color: #2b3553;
    border-radius: 8px;
    width: 240px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-name, .info-email {
      color: #FFF;
      display: flex;
      justify-content: center;
      padding: 5px;
      font-family: Poppins;
    }
    .info-name {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .gm-style-iw {
    box-sizing: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0px;
    box-shadow: unset;
    .gm-style-iw-d {
      overflow: auto !important;
    }
    button {
      display: none !important;
    }
  }
  .gm-style .gm-style-iw-t::after {
    display: none;
  }
}

