.dark-modal-map {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 700px;
    height: 550px;
    background: #1d2335;
    border-radius: 5px;
    #contMap{
        border-radius:'.2857rem';
        overflow: 'hidden';
    }
    #map{        
        height:460px; 
        width: 600px;
        margin: 20px 10px !important;
        border-radius: 5px;  
    }
    .modal-header-map{
        display: flex;
        align-content: stretch;
    }
}

.info-window-ride {
    background-color: #2b3553;
    border-radius: 8px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-one, .info-two {
      color: #9a9a9a;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 5px;
      
    }
    .info-one {
        color: #ffffff;
        font-family: Poppins;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
    }
  }

  
  .gm-style-iw {
    background-color: #2b3553 !important;
    box-sizing: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0px;
    box-shadow: unset;
    // display: none !important;
    .gm-style-iw-d {
        background-color: #2b3553 !important;
        overflow: auto !important;
    }
    button {
      display: none !important;
    }
  }
  .gm-style .gm-style-iw-t::after {    
    display: none;
    // background-color: #2b3553 !important;
  }

