.delete_modal {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
    .title {
      color: #FFF;
      font-size: 1.2rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 30%;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #be2a83;
    font-size: 14px;
    padding: 20px;
    div {
      text-align: center;
      padding: 3px;
    }
  }
  .require-action {
    display: flex;
    justify-content: center;
    color: #1270e3;
    font-size: 12px;
    padding: 20px;
    div {
      text-align: center;
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
      border-radius: 6px;
      border: solid 1px #2b3553;
      background: #1f2138;
    }
    .primary {
      color: #FFF;
      background: linear-gradient(256deg, #1d8cf8, #3358f4 97%) !important;
    }
    .primary:hover {
      color: #FFF;
      background: linear-gradient(256deg, #1d8cf8, #3358f4 97%) !important;
    }
  }
  input {
    text-align: center;
  }
}

.user_status {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
    .title {
      color: #FFF;
      font-size: 1.5rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 40%;
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
      border-radius: 6px;
      border: solid 1px #2b3553;
      background: #1f2138;
    }
    .primary {
      color: #2b78fe;
    }
  }
  .status-group {
    display: flex;
    justify-content: center;
    .input_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      width: 60%;
      color: #9a9a9a;
      div {
        padding: 5px;
      }
      .text-center {
        text-align: center;
      }
      input {
        text-align: center;
        color: #FFF;
      }
      .form-control:focus {
        border-color: #2b3553;
      }
      select {
        text-align: center;
        text-align-last: center;
      }
      option {
        background: #1d253b;
        font-size: 12px;
      }
      .available {
        color: #1d8cf8;
      }
      .inactive {
        color: #be2a83;
      }
    }
  }
}