#admin-team {  
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
    }
  }
  .management-body {
    font-size: 0.8rem;
    color: #FFF;
    .action {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div {
        margin-right: 10px;
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
      }
   }
    .available, .inactive {
      width: 80px;
      border-radius: 4px;
      height: 26px;
      text-align: center;
      padding: 5px;
      font-size: 10px;
      cursor: pointer;
    }
    .available {
      border: 1px solid #1d8cf8;
      color: #1d8cf8 !important;
    }
    .inactive {
      border: 1px solid #be2a83;
      color: #be2a83 !important;
    }
  }
}
.nav-group {
  display: flex;
  color: #FFF;
  font-size: 0.75rem;
  align-items: center;
  .first, .previous {
    padding: 0px 0px 0px 5px;
    cursor: pointer;
  }
  .index, .count, .total {
    padding: 0px 5px;
  }
  .next, .last {
    padding: 0px 5px 0px 0px;
    cursor: pointer;
  }
  i {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
.no-result {
  opacity: 0.8;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
  text-align: center;
  padding: 40px;
}
.dark-modal-status {
  width: 400px;
  background: #1d2335;
  border-radius: 5px;
}
.delete-modal {
  width: 600px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
  background-color: #27293d;
}
.modal-dialog {
  position: absolute;
  margin: auto;
  top: 20%;
  bottom: 0;
  right: 0;
  left: -10%;
}
.modal-content {
  width: 880px !important;
  height: 585px;
  border-radius: 6px !important;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1) !important;
  background-color: #27293d !important;
  .modal-header .title {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color: #FFF !important;
  }
}