.change-password {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    .title {
      color: #FFF;
      font-size: 1.2rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 30%;
    }
  }
  .change-description {
    color: #f40bff;
    font-size: 0.65rem;
    text-align: center;
  }
  .password-label {
    color: #b3acac;
    font-size: 0.75rem;
  }
  .change-desc {
    display: flex;
    justify-content: center;
    padding: 10px;
    .change-description {
      color: #3358f4;
      font-size: 0.65rem;
    }
  }
  .password-group {
    padding: 20px 40px;
  }
  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
    }
    .primary-btn {
      background: #007bff;
    }
  }
}