#add-member {
  .error {
    color: red;
  }
  .card-body {
    padding: 15px 15px 15px 80px;
  }
  .title {
    font-size: 14px;
    letter-spacing: 0.09px;
    color: #9a9a9a;
  }
  .sub-description {
    //font-size: 0.5rem;
    //color: #9a9a9a !important;
    font-size: 11px;
    letter-spacing: 0.09px;
    color: #f8f9fb;
    
  }
  .card label {
    color: #FFF;
  }
  .disable-color {
    color: #42474b !important;
  }
  .dark-back {
    background: #525f7f;
  }
  .phone_class {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    span {

    }
  }
  .phone-error {
    border-color: red;
  }
  .pre-country {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    img {
      height: 6px;
      width: 20px;
    }
  }
  .indicative_list {
    position: absolute;
    background-color: #1f2138;
    border-radius: 6px;
    padding: 0px 10px;
    overflow: auto;
    height: 150px;
    z-index: 200;
    margin-right: 15px;
    .indicative {
      cursor: pointer;
    }
  }
  .indicative_list::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  .indicative_list::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    -webkit-box-shadow: inset 0 0 6px #FFF;
    border-radius: 10px;
  }

  .indicative_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .non-border {
    border: unset;
  }
  .change_password_btn {
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 1px solid #3358f4;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3358f4;
  }

  .drag-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    .drop-class {
      width: 160px;
      height: 160px;
      border: 1px solid #000;
      border-radius: 50%;
      box-shadow: 1px 3px 6px rgba(0,0,0,.5);
    }
    .drop_desc {
      padding: 10px 0px;
      color: #FFF;
      font-size: 0.8rem;
    }
    .select_file {
      cursor: pointer;
      width: 120px;
      height: 30px;
      border: 1px solid #d44ebf;
      border-radius: 5px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d44ebf;
    }
    .drop_max, .drop_dimension {
      font-size: 0.65rem;
    }
  }
}
.modal-close-button {
  display: none;
}
.dark-modal {
  background: #1d2335;
  width: 600px;
  border-radius: 5px;
}
.primary-btn {
  background: #007bff !important;
}
.form-control[disabled] {
  background-color: transparent !important;
}