#user-table {
  .management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    .card-title {
      margin: 0;
      padding: 0px 20px;
    }
    .tools-group {
      padding: 0px 40px;
      display: flex;
      .btn-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.65rem;
        border: 1px solid #3c6ef1;
        border-radius: 5px;
        height: 25px;
        background: unset;
        margin: 0px !important;
        padding: 0px 10px !important;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:before {
        content: "";
        margin: 0px 10px 0px 5px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:after {
        display: none;
      }
    }
  }
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
      cursor: pointer;
    }
  }
}

.payment-status {
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  width: max-content;
  color: #9a9a9a;
  cursor: pointer;
  span {
    padding: 0px 5px;
  }
  img {
    padding: 0px 5px;
  }
}

.show-more-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    text-decoration: underline;
    cursor: pointer;
  }
}
#uesr-detail {
  .icon-reload {
    padding: 0px 10px;
    cursor: pointer;
  }

  .account-info {
    padding: 0px 30px;
    .one-content {
      padding: 7px 0px;
    }
    .sub-header {
      color: #FFF;
    }
    .sub-data {
      color: #9a9a9a;
    }
  }
  .payment-card {
    border-radius: 6px;
    border: solid 1px #2b3553;
    padding: 3px 7px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    color: #9a9a9a;
    font-size: 12px;
    .brand-card {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .non-payment-card{
    color: #9a9a9a;
    font-size: 12px;
  }
}