.map-devices {
  // position: absolute;
  // left: 0;
  // top: 0;
  z-index: 100;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  .device-types {
    width: 316px;
    height: 139px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    .d-title {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: #171717;
      padding: 7px 20px;
    }
    .d-flex {
      display: flex;
    }
    .active {
      background-color: #f1f3f4;
    }
    .one-device{
      height: 80px;
      padding: 0 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .device-img {
        width: 42px;
        height: 42px;
        opacity: 0.45;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #e8f0fe;
      }
      img {
        width: 36px;
        height: 36px;
      }
      .device-name {
        font-size: 12px;
        text-align: center;
        color: #171717;
      }
    }
  }
  .d-info {
    width: 316px;
    height: 53px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 14px;
    text-align: left;
    color: #707070;
    align-items: center;
    display: flex;
    padding: 0 10px;
    cursor: pointer;
    margin-top: -10px;
    z-index: -10;
    img {
      margin-right: 5px;
    }
  }
  .d-show-info {
    width: 316px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-size: 14px;
    text-align: left;
    color: #707070;
    margin-top: -10px;
    z-index: -10;
    padding: 7px 0px;
    overflow-y: auto;
    flex: 1 1;
    .one-show-info {
      padding: 5px 20px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      color: #171717;
      font-size: 14px;
      img {
        width: 36px;
        margin-right: 40px;
      }
      .scooter_count {
        display: flex;
        align-items: center;
      }
    }
    .scooter-active {
      opacity: 0.63;
      background-color: #42474b;
    }
  }
  .d-hide-info {
    padding: 0 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    img {
      margin-right: 5px;
    }
  }
}

.current_position {
  cursor: pointer;
  width: 36px;
  height: 36px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  img {
    width: 24px;
    height: 24px;
  }
}

.cluster-on-off {
  display: flex;
  margin-top: -10px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  font-size: 14px;
  color: #171717;
  img {
    margin-right: 7px;
  }
}
.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 20px; margin: 6px;
  height: 20px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}