#ride {
  .payment-header {
    margin-bottom: 40px;
  }
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
      cursor: pointer;
    }
  }
  .page-title {
    color: #FFF;
    padding: 0px 20px;
  }
  .tools-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .active-btn {
      padding: 3px 5px;
      box-shadow: 1px 3px 6px rgba(0,0,0,.5);
    }
    .active-btn, .filter-group, .country {
      border: 1px solid #007bff;
      border-radius: 5px;
      font-size: 0.5rem;
      color: #007bff;
      cursor: pointer;
    }
    .filter-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 30px 0px 60px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 3px 7px;
        border-right: 1px solid #007bff;
        border-left: 1px solid #007bff;
        text-transform: uppercase;
        box-shadow: 1px 3px 6px rgba(0,0,0,.5);
      }
      div:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      div:last-child {
        border-radius: 0px 5px 5px 0px;
      }
    }
    .active {
      color: #FFF;
      background: #850bff;
    }
    .country {
      margin-right: 20px;
      width: 70px;
      .form-group {
        margin: 0px;
        .form-control {
          padding: 3px;
          color: #007bff;
          height: unset;
          font-size: 0.5rem;
          text-transform: uppercase;
          border: unset;
          option {
            text-align: center;
            background: #2b3553;
            font-size: 0.65rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .payment-body {
    font-size: 0.8rem;
    .payment-status {
      border: 1px solid #9a9a9a;
      border-radius: 10px;
      width: max-content;
      span {
        padding: 0px 5px;
      }
      img {
        padding: 0px 5px;
      }
    }
    .end-ride {
      color: #FFF;
      background: #850bff;
      border: 1px solid #007bff;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase;
      width: max-content;
      padding: 0px 10px;
      box-shadow: 1px 3px 6px rgba(0,0,0,.5);
    }
  }
}