.change_password {
  background-image: url('../../assets/img/mesh.png') !important;
  .logo {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 75px;
    }
  }
  .card-header {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .login-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.16px;
    text-align: center;
    color: #e4e4e4;
    padding: 20px 0px 10px 0px;
  }
  .title-border {
    width: 250px;
    height: 1px;
    border-radius: 1px;
    background-color: #707070;
  }
  .card-body {
    padding: 40px !important;
    .input-group {
      width: 300px;
      label {
        width: 100%;
        text-align: center;
      }
      .description {
        color: #9a9a9a;
      }
      .error {
        color: #2b78fe;
      }
    }
    .try-again {
      padding: 15px 0px;
      p {
        color: #9a9a9a;
        font-size: 12px;
        a {
          color: #2b78fe;
        }
      }
    }
  }
  .card-footer {
    padding: 0px 10px !important;
    margin-bottom: 15px;
    .second-line {
      display: flex;
      justify-content: flex-end;
      button {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        padding: 0px;
      }
      .cancel {
        background-image: linear-gradient(256deg, #344675, #263148) !important;
      }
      .cancel:hover {
        background-image: linear-gradient(256deg, #344675, #263148) !important;
      }
      .change {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
      .change:hover {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
    }
  }
}