.verfication-code {
  background-image: url('../../assets/img/mesh.png') !important;
  .logo {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 75px;
    }
  }
  .card-header {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .login-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.16px;
    text-align: center;
    color: #e4e4e4;
    padding: 20px 0px 10px 0px;
  }
  .title-border {
    width: 250px;
    height: 1px;
    border-radius: 1px;
    background-color: #707070;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px !important;
    .input-group {
      width: 300px;
      label {
        width: 100%;
        text-align: center;
      }
      .description {
        color: #9a9a9a;
      }
      .error {
        color: #2b78fe;
      }
    }
    .code-input-group {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      .dash {
        padding: 0px 5px;
        color: #FFF;
      }
      .code-input {
        display: flex;
        align-items: center;
        height: 40px;
        input {
          width: 30px;
          border: solid 1px #e4e4e4;
          background-color: #f8f9fb;
          text-align: center;
        }
        input:focus {
          outline: none;
        }
        input:first-child {
          border-radius: 5px 0px 0px 5px;
        }
        input:last-child {
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
    .try-again {
      padding: 15px 0px;
      p {
        color: #9a9a9a;
        font-size: 12px;
        display: flex;
        span {
          color: #2b78fe;
          cursor: pointer;
          padding: 0px 5px;
        }
      }
    }
  }
  .card-footer {
    padding: 0px !important;
    margin-bottom: 15px;
    .second-line {
      display: flex;
      justify-content: center;
      button {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4);
      }
      button:hover {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
    }
  }
}

.butonsVerification {
  justify-content: center;
}