.formCoupon-page {
  background-image: url('../../assets/img/mesh.png') !important;    
  .card-body{
      select{
          option{
              background-color:#27293d;
              color: #007bff;
          }
      }
  }

  .card-footer {
    //padding: 0px !important;
    .second-line {
      display: flex;
      justify-content: center;
      button {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4);
      }
      button:hover {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
    }
  }
  .couponValue{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    text-align: center !important;
    .fieldVersion{
      border: 0 none !important;
      // padding: 8px 15px !important;
      // padding-left: 5px  !important;
    }
  }
}

.sweet-alert{
  background-color: rgb(39, 41, 61) !important;  
}

.couponeState{
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  display: inline-flex;
  span{
    padding: 4px;
    font-size: 0.65rem;
  }
  img{
    padding: 4px;
  }
}

.Line {
  width: 250px;
  height: 1px;
  border-radius: 1px;
  background-color: #707070;
}

.AlertCreate {
  display: inline-flex;
  width: 246px;
  height: 35px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: 0.16px;
  text-align: center;
  color: #ffffff;
}
#adminCoupon {
  
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
      cursor: pointer;
    }
  }

  .management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: unset;
    .card-title {
      margin: 0;
      padding: 0px 20px;
    }
  }
  .form-control:focus {
    color: #2b3553 !important;
    border-color: #2b3553 !important;
  }
  .action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      margin: 0px 5px;
      cursor: pointer;
    }
    img {
      width: 20px;
      height: 20px;
    }
 }
}
