.navbar {
    margin-top: 10px;
    .searchBar{
        padding-left: 40px;
        margin-left: 150px;    
        width: 60%;
        height: 42px;
        border-radius: 30px;
        border: solid 1px #2b3553;
        background-color: transparent;
    
        font-family: Poppins;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.09px;
        text-align: left;
        color: #e4e4e4;
    }
}