#refund_modal {
  padding: 0px 60px;
  .id-label {
    color: #9a9a9a;
    font-size: 12px;
  }
  .input_group {
    input {
      color: #9a9a9a;
    }
  }
  .full-refund {
    color: #9a9a9a;
  }
  .non-full-refund {
    color: #42474b;
  }
  .form-check {
    padding: 10px 0px;
  }
  .refund-alert {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 0.09px;
    text-align: center;
    color: #be2a83;
  }
}

#confirm_refund {
  .row {
    justify-content: center;
  }
  .refund-alert {
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.13px;
    text-align: center;
    color: #be2a83;
  }
  .confirm-alert {
    padding-top: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: #1270e3;
  }
}