.card-body {
  padding: 20px !important;
}
.details, .method, .events {
  padding: 10px 0px;
  border-top: 1px solid #9a9a9a;
}
.one-line {
  display: flex;
  padding: 10px 0px;
}
#payment-detail {
  .sub-title, .left-value {
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 0.1px;
    color: #FFF !important;
  }
  
  .sub-title {
    font-size: 20px !important;
  }
}

.left-value {
  width: 15%;
  font-size: 12px !important;
  display: flex;
  align-items: center;
}
.right-value {
  width: 30%;
  font-size: 12px !important;
  color: #9a9a9a !important;
  display: flex;
  align-items: center;
}
.right-arrow {
  padding-bottom: 7px;
}
.upper-case {
  text-transform: uppercase;
}
.id_service {
  .first_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .amount-status {
      display: flex;
      div {
        padding: 0px 30px 0px 0px;
      }
      .amount, .upper-case {
        color: #9a9a9a;
        font-size: 20px;
      }
      .status {
        border: 1px solid #9a9a9a;
        border-radius: 10px;
        width: max-content;
        padding: 3px 7px;
        color: #FFF;
        font-size: 12px;
        height: 24px;
        display: flex;
        align-items: center;
        span {
          padding-right: 5px;
        }
        img {
          padding: 0px 5px;
        }
      }
    }
    .order-id {
      display: flex;
      color: #FFF;
      font-size: 12px;
      padding-right: 40px;
      align-items: center;
      .refund {
        cursor: pointer;
        border-radius: 6px;
        border: solid 1px #1d8cf8;
        background-color: #1f2138;
        font-size: 10px;
        padding: 3px 5px;
        margin-right: 5px;
      }
    }
  }
  .second-line {
    display: flex;
    .one-child {
      display: flex;
      flex-direction: column;
      width: 250px;
      padding: 10px 30px 20px 0px;
      span {
        color: #FFF;
        font-size: 12px;
        padding-bottom: 20px;
      }
      div {
        color: #9a9a9a;
        font-size: 12px;
      }
      .payment-method {
        display: flex;
        align-items: center;
        .brand {
          text-transform: capitalize;
          padding: 0px 5px;
        }
      }
    }
  }
}