#payments {
  .payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    .card-title {
      margin: 0;
      padding: 0px 20px;
    }
    .tools-group {
      padding: 0px 40px;
      display: flex;
      .export-btn, .btn-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.65rem;
        border: 1px solid #3c6ef1;
        border-radius: 5px;
        height: 25px;
      }
      .export-btn {
        padding: 0px 20px;
        margin: 0px 10px;
      }
      .btn-filter {
        background: unset;
        margin: 0px !important;
        padding: 0px 10px !important;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:before {
        content: "";
        margin: 0px 10px 0px 5px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
      .btn.dropdown-toggle[data-toggle="dropdown"]:after {
        display: none;
      }
    }
  }
  .card-body {
    .table > thead > tr > th {
      text-transform: unset;
    }
  }
  .payment-body {
    font-size: 0.8rem;
    .currency {
      text-transform: uppercase;
    }
    .payment-status {
      border: 1px solid #9a9a9a;
      border-radius: 10px;
      width: max-content;
      span {
        padding: 0px 5px;
      }
      img {
        padding: 0px 5px;
      }
    }
  }
}

.focus_on {
  cursor: pointer;
}

.focus_on:hover {
  border: 1px solid #3c6ef1;
}