.profile-name {
  display: flex !important;
  flex-direction: column;
  .operator {
    font-size: 0.65rem;
  }
}
.operator-name {
  font-family: Poppins;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 5px 0px;
  text-transform: uppercase;
}
.navbar-wrapper {
  .logo-mini {
    color: #FFF;
    font-size: 15px;
    line-height: 0.87;
    text-transform: uppercase;
    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
  .user-type {
    img {
      width: 24px;
      height: 24px;
    }
  }
  .dropdown-menu {
    transition: none;
  }
  .dropdown-navbar {
    width: 226px;
    height: 156.5px;
    border-radius: 4px;
    background-image: linear-gradient(125deg, #fbfcfd, #fbfcfd);
    padding: 10px 0px;
    .type-header {
      width: 100%;
      height: 28px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2b3553;
      padding: 0px 5px;
    }
    .line-border {
      height: 1px;
      background-color: #e2e2e2;
      margin: 10px 0px;
    }
    .type-group {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      div {
        color: #707070;
        height: 23px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        cursor: pointer;
        padding: 0px 25px;
        margin: 3px 0px;
      }
      .active-div {
        background-color: #e9e9e9;
      }
    }
  }
  .dropdown-navbar::before {
      content: none;
  }
}