#device_setting {
    .input-label {
      font-family: Poppins;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.33;
      letter-spacing: normal;
      text-align: left;
      color: #9a9a9a;
    }
    .btn-secondary {
      width: 140px;
      padding: 12px;
    }
    .buttonsSetting {
      justify-content: space-between;
      padding: 0px 40px;
    }
    .input-setting {
      width: 100%;
      margin: 5px;
    }
  }