.change_status {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
    .title {
      color: #FFF;
      font-size: 1.2rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 50%;
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
      border-radius: 6px;
      border: solid 1px #2b3553;
      background: #1f2138;
    }
    .primary {
      color: #2b78fe;
    }
  }
  .input_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    input {
      text-align: center;
      color: #FFF;
    }
    select {
      text-align: center;
      text-align-last: center;
    }
    option {
      background: #1d253b;
      font-size: 12px;
    }
    .status_in_use {
      color: #6207ef;
    }
    .status_available {
      color: #218838;
    }
    .status_unavailable {
      color: #707070;
    }
    .status_transport {
      color: #fc860a;
    }
    .status_maintenance {
      color: #1270e3;
    }
    .status_broken {
      color: #f5317f;
    }
    .status_stolen {
      color: #f0f3bd;
    }
    .status_logistic {
      color: #ffc244;
    }
  }
}
.default_setting {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
    .title {
      color: #FFF;
      font-size: 1.2rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 30%;
    }
  }
  .input_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .group_input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        .id-label {
          max-width: 100% !important;
          padding: 0px 0px 20px 0px;
        }
        .scooter_id {
          padding: 0px 0px 20px 10px;
        }
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #be2a83;
    font-size: 14px;
    padding: 20px;
    div {
      text-align: center;
      padding: 3px;
    }
  }
  .require-action {
    display: flex;
    justify-content: center;
    color: #1270e3;
    font-size: 12px;
    padding: 20px;
    div {
      text-align: center;
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
      border-radius: 6px;
      border: solid 1px #2b3553;
      background: #1f2138;
    }
    .primary {
      color: #FFF;
      background: linear-gradient(256deg, #1d8cf8, #3358f4 97%);;
    }
  }
  input {
    text-align: center;
  }
}

.show_url {
  .change-title {
    display: block;
    .title::after {
      width: 90%;
    }
  }
}

#device_setting {
  .input-label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: normal;
    text-align: left;
    color: #9a9a9a;
  }
  .btn-secondary {
    width: 140px;
    padding: 12px;
  }
  .buttonsSetting {
    justify-content: space-between;
    padding: 0px 40px;
  }
  .input-setting {
    width: 100%;
    margin: 5px;
  }
}