.login-page {
  background-image: url('../../assets/img/mesh.png') !important;
  .logo {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 75px;
    }
  }
  .card-header {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-title {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.16px;
    text-align: center;
    color: #e4e4e4;
    padding: 20px 0px 10px 0px;
  }
  .title-border {
    width: 250px;
    height: 1px;
    border-radius: 1px;
    background-color: #707070;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px !important;
    .input-group {
      width: 300px;
      input:focus {
        border-color: #2b3553;
      }
      label {
        width: 100%;
      }
      .error {
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #be2a83;
      }
      .log_error {
        text-align: center;
      }
      .inactive {
        font-size: 18px;
        padding: 20px 0px;
      }
      .contact-support {
        height: 17px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.08px;
        text-align: center;
        color: #1270e3;
      }
    }
    .input-group:last-child {
      margin: 0px !important;
    }
  }
  .card-footer {
    padding: 0px !important;
    .got_it {
      display: flex;
      justify-content: flex-end;
      padding: 0px 20px;
      button {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
      button:hover {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
    }
    .first-line {
      display: flex;
      justify-content: center;
      padding: 0px 40px 20px 40px;
      div {
        display: flex;
        align-items: center;
      }
      input {
        width: 18px;
        margin-right: 5px;
      }
      label {
        margin: 0px !important;
      }
      .forgot_password {
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.08px;
        color: #3358f4;
      }
      .forgot_password:hover {
        color: #3358f4;
      }
    }
    .second-line {
      display: flex;
      justify-content: center;
      button {
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4);
      }
      button:hover {
        background-image: linear-gradient(256deg, #1d8cf8, #3358f4) !important;
      }
    }
  }
}