.ope_status {
  .change-title {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px;
    .title {
      color: #FFF;
      font-size: 1.5rem;
      font-weight: initial;
    }
    .title::after {
      background-color: #efefef; 
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translate(-50%,0);
      width: 40%;
    }
  }

  .btn-change-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0px 0px;
    .change-btn {
      height: 30px;
      display: flex;
      align-items: center;
      padding: 0;
      width: 130px;
      justify-content: center;
      margin: 0 5px;
      font-size: 0.7rem;
      font-weight: initial;
      border-radius: 6px;
      border: solid 1px #2b3553;
      background: #1f2138;
    }
    .primary {
      color: #2b78fe;
    }
  }
  .status-group {
    display: flex;
    justify-content: center;
    .input_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      width: 60%;
      color: #9a9a9a;
      div {
        padding: 5px;
      }
      .text-center {
        text-align: center;
      }
      input {
        text-align: center;
        color: #FFF;
      }
      .form-control:focus {
        border-color: #2b3553;
      }
      select {
        text-align: center;
        text-align-last: center;
      }
      option {
        background: #1d253b;
        font-size: 12px;
      }
      .available {
        color: #6207ef;
      }
      .unavailable {
        color: #f5317f;
      }
      .demo {
        color: #218838;
      }
      .deleted {
        color: #ffc244;
      }
      .default {
        color: #707070;
      }
    }
  }
}