.admin-operator{
  background-image: url('../../assets/img/mesh.png') !important;
}

.create-suborg{
  background-image: url('../../assets/img/mesh.png') !important;
}

select{
  option{
      background-color:#27293d;
  }
}

.sweet-alert{
  background-color: rgb(39, 41, 61) !important;  
  div {
    background-color: rgb(39, 41, 61) !important;  
  }
  span {
    z-index: 10 !important;
  }
}

.Line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #707070;
}

.AlertCreate {
  display: inline-flex;
  width: 246px;
  height: 35px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: 0.16px;
  text-align: center;
  color: #ffffff;
}

.btn-status{
    border-radius: 6px;
    border: 1px solid;    
    box-shadow: none;
    padding: 5px 5px;
    background-color: transparent;
        
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    margin-left: 50px;
}
.btn-status.Available{
  color: #1270e3;
  border-color: #1d8cf8;
}
.btn-status.Unavailable{
  border-color: #f5317f;
  color:  #f5317f;;
}

.btn-status.Demo{
  border-color: #218838;
  color:  #218838;;
}
.btn-status.Deleted{
  border-color: #ffc244;
  color:  #ffc244;;
}
.btn-status.Default{
  border-color: #707070;
  color:  #707070;;
}
.btn-status.Undefined{
  color: white;
  border-color: white;
}

.i-services{
  margin-right: 10px;
}
.t-services{
  width: 142px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.13px;
  text-align: left;
  color: #9a9a9a;
}

.drag-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .drop-class {
    width: 160px;
    height: 160px;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0,0,0,.5);
    img {
      border-radius: 50%;
    }
  }
  .drop_desc {
    padding: 10px 0px;
    color: #FFF;
    font-size: 0.8rem;
  }
  .select_file {
    cursor: pointer;
    width: 120px;
    height: 30px;
    border: 1px solid #d44ebf;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d44ebf;
  }
  .drop_max, .drop_dimension {
    font-size: 0.65rem;
  }
  input[type="file"] {
    display: none;
  }
}

#update_operator{
  .title{
    width: 243px;
    height: 35px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.16px;
    text-align: left;
    color: #fdfdfd;    
  }
  .field{
    margin: 20px;
    .id-label{
      font-family: Poppins;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.11px;
      text-align: left;
      color: #e4e4e4;
    }
    input,select{
      border-radius: 6px;
    }
    input:focus,select:focus,.form-group:focus{
      border-color: #1d8cf8;
    }
  }
}

.butonsUpdateOpe{
  justify-content: flex-end;
}
.butonsSchedule{
  margin-top: 30px;
  justify-content: center;
}
.butonsFormInfo{  
  display: flex;
  margin-top: 30px;
  justify-content: center;
}


.btn-cosmic-ope{
  display:flex;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid;  
  box-shadow: none;
  padding: 5px;
  background-color: #1f2138;

  font-family: Poppins;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.06px;
  cursor: pointer;  
}

.btn-cosmic-ope.Available{
  border-color: #6207ef;
  color:  #6207ef;
}

.btn-cosmic-ope.Unavailable{
  border-color: #f5317f;
  color:  #f5317f;;
}

.btn-cosmic-ope.Demo{
  border-color: #218838;
  color:  #218838;;
}
.btn-cosmic-ope.Deleted{
  border-color: #ffc244;
  color:  #ffc244;;
}
.btn-cosmic-ope.Default{
  border-color: #707070;
  color:  #707070;;
}

// .navegation .stepLink{
//   display: flex;
//   align-items: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   // background-color: White;
//   .progressBar{
//     position: relative;
//     top: 5px;
//     height: 5px;
//     border-radius: 0.4285rem;    
//   }
  
// }
.navegation{
  position: relative;
  margin: 80px auto 60px;

  .progressBar{
    position: relative;
    top: 5px;
    height: 5px;
    border-radius: 0.4285rem;    
    .progressStep{
      background: #e14eca;

      height: 100%;
      border-radius: 0.4285rem;
      box-shadow: none;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
    } 
  }

  .navSteps{
    .step{
      position: relative;
    }
    .stepLink{
      color: #e14eca;
  
      display: flex;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
  
      height: 45px;
      width: 45px;
      min-width: 45px;
      border-radius: 50% !important;
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translate(-50%);
      background-color: white;
      .active{
        background-color: blue;
        color: white; 
      }
      p{
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%);
        font-weight: 400;
        color: #ffffff;
      }
      i{
        display: inline-block;
        font-size: 19px;
        line-height: initial;
        padding: 0;
        vertical-align: bottom;
      }
    }
  }
}

.schModalDiv{  
  box-sizing: border-box;
  background-color: #27293d;
  box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 600px;
  .ScheduleModal{
    .card-title{   
      margin-bottom:0; 
      font-family: Poppins;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;    
      letter-spacing: 0.16px;
      text-align: left;
      color: #fdfdfd;
    }
  }
}

.lineDate,.cenBtn{
  .col{
    padding: 1px !important;
  }
  display:flex;
  align-items: center;
}

.addBtnSch{
  display:flex;
  align-content: center;
}

.scheduleSelect{  
  margin:3px 3px!important;
  padding: 1px 1px 1px 1px!important;
  width: min-content !important;
}

.form-check-sign{
  border: none;
  background-color: #1270e3;
}


// <div className='navegation'>
//   <div className='progressBar'>
//     <div className='progressStep'></div>
//   </div>
//   <ul className='navSteps'>
//     <li className='step'>
//       <a className='stepLink'>
//         <i className='tim-icons icon-single-02'></i>
//         <p>Information</p>
//       </a>
//     </li>
//     <li className='step'>
//       <a className='stepLink'>
//         <i className='tim-icons icon-settings-gear-63'></i>
//         <p>Schedule</p>
//       </a>
//     </li>
//   </ul>
// </div>

// .card-wizard{  
//   .card-body{
//     visibility:hidden,
//   }
//   .card-footer{
//     visibility:hidden,
//   }
// }